{% extends "base.html" %}
{% load i18n staticfiles %}
{% load common_tags %}
{% block title %}{% trans "Profile" %} {{ profile }} :: {{ block.super }}{% endblock %}

{% block content %}
  <div class="page content">
    {% include "includes/profile_menus_top.html" %}
    <div class="ui container margin-2-0">
      <div class="ui tabular menu">
        <div class="ui container container-menu">
          <a class="active item activity-tab-menu" data-tab="container-posts">
            {% trans "posts" %}
          </a>
          <a class="item activity-tab-menu" data-tab="container-tags">
            {% trans "tags" %}
          </a>
          <a class="item activity-tab-menu" data-tab="container-favorites">
            {% trans "favorites" %}
          </a>
          <a class="item activity-tab-menu" data-tab="container-votes">
            {% trans "votes" %}
            <label class="ui blue small label" title="{% trans 'Total votes cast' %}">
              {{ total_votes }}
            </label>
          </a>
        </div>
      </div>
    </div>

    <div class="ui container margin-2-0 container-tab container-posts">
      <div class="ui secondary pointing menu">
        <div class="ui container menu-box-posts">
          <a class="left floated item"><strong>{% trans "Posts" %} ({{ total_posts }})</strong></a>
          <a class="active orange item post-filter-menu" data-filter="votes">{% trans "votes" %}</a>
          <a class="item orange post-filter-menu" data-filter="activity">{% trans "activity" %}</a>
          <a class="item orange post-filter-menu" data-filter="newest">{% trans "newest" %}</a>
        </div>
      </div>
      <div class="ui divided list list-box-items list-box-posts">
        {% for post in posts %}
          <div class="item">
            <span class="right floated content">{{ post.created }}</span>
            {% if post.rating.get_difference < 0 %}
              <label class="ui basic left floated small label" style="color:red" title="{% trans 'vote score' %}">{{ post.rating.get_difference }}</label>
            {% elif post.rating.get_difference == 0 %}
              <label class="ui basic left floated small label" title="{% trans 'vote score' %}">{{ post.rating.get_difference }}</label>
            {% else %}
              <label class="ui basic left floated small label" style="color:green" title="{% trans 'vote score' %}">{{ post.rating.get_difference }}</label>
            {% endif %}
            <a class="content spf-link no-underline" href="{% url 'posts_detail' slug=post.slug %}">{{ post.title }}</a>
          </div>
        {% empty %}
          <div class="ui padded segment">
            <i class="info circle icon"></i> {% blocktrans with user=user %}{{ user }} dosen't have posts!{% endblocktrans %}
          </div>
        {% endfor %}
        {% if total_posts > maximum_posts %}
          <a class="item no-underline spf-link" href="{% url 'posts_author' username=user.username %}">
            {% trans "View more" %} &rarr;
          </a>
        {% endif %}
      </div>
    </div>

    <div class="ui container margin-2-0 container-tab container-tags" style="display:none">
      <div class="ui secondary pointing menu">
        <div class="ui container">
          <a class="item"><strong>{% trans "Tags" %} ({{ total_tags }})</strong></a>
        </div>
      </div>
      <div class="ui grid">
        {% if not tags %}
          <div class="eight wide column">
            <div class="ui padded segment">
              <i class="info circle icon"></i> {% blocktrans with user=user %}{{ user }} dosen't have tags!{% endblocktrans %}
            </div>
          </div>
        {% endif %}
        <div class="four wide column">
          <div class="ui list list-box-items">
            {% for tag in tags %}
              {% if forloop.counter <= 5 %}
                <a class="item no-underline spf-link" href="{% url 'posts_tagged' slug=tag.tag.slug %}">
                  <label class="ui link basic left floated small label"
                    title="{% blocktrans with user=user total=tag.total tag=tag.tag %}{{ user }} posted {{ total }} posts in {{ tag }} tag{% endblocktrans %}">{{ tag.total }}</label>
                  <label class="ui link label no-radius">{{ tag.tag }}</label> ×
                  <span title="{% blocktrans with total=tag.tag.get_posts.count tag=tag.tag %}{{ total }} posts in the {{ tag }} tag{% endblocktrans %}">
                    {{ tag.tag.get_posts.count }}</spam>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="four wide column">
          <div class="ui list list-box-items">
            {% for tag in tags %}
              {% if forloop.counter > 5 and forloop.counter <= 10 %}
                <a class="item no-underline spf-link" href="{% url 'posts_tagged' slug=tag.tag.slug %}">
                  <label class="ui link basic left floated small label"
                    title="{% blocktrans with user=user total=tag.total tag=tag.tag %}{{ user }} posted {{ total }} posts in {{ tag }} tag{% endblocktrans %}">{{ tag.total }}</label>
                  <label class="ui link label no-radius">{{ tag.tag }}</label> ×
                  <span title="{% blocktrans with total=tag.tag.get_posts.count tag=tag.tag %}{{ total }} posts in the {{ tag }} tag{% endblocktrans %}">
                    {{ tag.tag.get_posts.count }}</spam>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="four wide column">
          <div class="ui list list-box-items">
            {% for tag in tags %}
              {% if forloop.counter > 10 and forloop.counter <= 15 %}
                <a class="item no-underline spf-link" href="{% url 'posts_tagged' slug=tag.tag.slug %}">
                  <label class="ui link basic left floated small label"
                    title="{% blocktrans with user=user total=tag.total tag=tag.tag %}{{ user }} posted {{ total }} posts in {{ tag }} tag{% endblocktrans %}">{{ tag.total }}</label>
                  <label class="ui link label no-radius">{{ tag.tag }}</label> ×
                  <span title="{% blocktrans with total=tag.tag.get_posts.count tag=tag.tag %}{{ total }} posts in the {{ tag }} tag{% endblocktrans %}">
                    {{ tag.tag.get_posts.count }}</spam>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="four wide column">
          <div class="ui list list-box-items">
            {% for tag in tags %}
              {% if forloop.counter > 15 and forloop.counter <= 20 %}
                <a class="item no-underline spf-link" href="{% url 'posts_tagged' slug=tag.tag.slug %}">
                  <label class="ui link basic left floated small label"
                    title="{% blocktrans with user=user total=tag.total tag=tag.tag %}{{ user }} posted {{ total }} posts in {{ tag }} tag{% endblocktrans %}">{{ tag.total }}</label>
                  <label class="ui link label no-radius">{{ tag.tag }}</label> ×
                  <span title="{% blocktrans with total=tag.tag.get_posts.count tag=tag.tag %}{{ total }} posts in the {{ tag }} tag{% endblocktrans %}">
                    {{ tag.tag.get_posts.count }}</spam>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div><!-- end /.ui grid -->
    </div>

    <div class="ui container margin-2-0 container-tab container-favorites" style="display:none">
      <div class="ui secondary pointing menu">
        <div class="ui container">
          <a class="left floated item"><strong>{% trans "Favorites" %} ({{ total_favorites }})</strong></a>
        </div>
      </div>
      <div class="ui list divided list-box-items">
        {% for favorite in favorites %}
          <a class="item spf-link no-underline" href="{% url 'posts_detail' slug=favorite.post.slug %}">
            <span class="right floated content">{{ favorite.created }}</span>
            {% if favorite.post.rating.get_difference < 0 %}
              <label class="ui basic left floated small label" style="color:red" title="{% trans 'vote score' %}">{{ favorite.post.rating.get_difference }}</label>
            {% elif favorite.post.rating.get_difference == 0 %}
              <label class="ui basic left floated small label" title="{% trans 'vote score' %}">{{ favorite.post.rating.get_difference }}</label>
            {% else %}
              <label class="ui basic left floated small label" style="color:green" title="{% trans 'vote score' %}">{{ favorite.post.rating.get_difference }}</label>
            {% endif %}
            <div class="content">{{ favorite.post.title }}</div>
          </a>
        {% empty %}
          <div class="ui padded segment">
            <i class="info circle icon"></i> {% blocktrans with user=user %}{{ user }} dosen't have favorites!{% endblocktrans %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="ui container margin-2-0 container-tab container-votes" style="display:none">
      <div class="ui secondary pointing menu">
        <div class="ui container menu-box-votes">
          <a class="left floated item">
            <strong>{% trans "Votes Cast" %} ({{ total_votes }})</strong>
          </a>
          <a class="active orange item vote-filter-menu" data-filter="all">
            {% trans "all" %}
          </a>
          <a class="item orange vote-filter-menu" data-filter="up">
            {% trans "up" %}
          </a>
          <a class="item orange vote-filter-menu" data-filter="down">
            {% trans "down" %}
          </a>
        </div>
      </div>
      <div class="ui divided list list-box-items list-box-votes">
        {% for vote in votes %}
          {% if vote.content_object %}
            <div class="item item-vote item-vote-{% if vote.score > 0 %}up{% else %}down{% endif %}">
              <span class="right floated content">{{ vote.date_added }}</span>
              {% if vote.score > 0 %}
                <label class="ui basic left floated small label" style="color:green">{% trans "upvote" %}</label>
              {% else %}
                <label class="ui basic left floated small label" style="color:red">{% trans "downvote" %}</label>
              {% endif %}
              <a class="content spf-link no-underline" href="{% url 'posts_detail' slug=vote.content_object.slug %}">{{ vote.content_object }}</a>
            </div>
          {% endif %}
        {% empty %}
          <div class="ui padded segment">
            <i class="info circle icon"></i> {% blocktrans with user=user %}{{ user }} dosen't have votes!{% endblocktrans %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div><!-- end /.page.content -->
{% endblock %}

{% block js %}
  <script>
    $('.activity-menu-top').addClass('active');
    $('.post-filter-menu').click(function(){
      var button = $(this);
      $.ajax({
        type: 'GET',
        url: '?filter='+button.data('filter'),
        success: function(reponse){
          button.closest('.menu-box-posts').find('.post-filter-menu').removeClass('active');
          button.addClass('active');
          $('.list-box-posts').html(
            $(reponse).find('.list-box-posts').children()
          );
        }
      });
    });

    $('.activity-tab-menu').click(function(){
      $(this).closest('.container-menu').find('.activity-tab-menu').removeClass('active');
      $(this).addClass('active');
      $('.container-tab').hide();
      $('.'+$(this).data('tab')).show();
    });

    $('.vote-filter-menu').click(function(){
      $(this).closest('.menu-box-votes').find('.vote-filter-menu').removeClass('active');
      $(this).addClass('active');
      var target = $(this).data('filter');
      if(target == 'all') {
        $('.item-vote').show();
      }else {
        $('.item-vote').hide();
        $('.item-vote-'+target).show();
      }
    });

    {% if request.GET.tab == 'posts' %}
      $('.activity-tab-menu[data-tab="container-posts"]').trigger('click');
    {% elif request.GET.tab == 'tags' %}
      $('.activity-tab-menu[data-tab="container-tags"]').trigger('click');
    {% elif request.GET.tab == 'favorites' %}
      $('.activity-tab-menu[data-tab="container-favorites"]').trigger('click');
    {% elif request.GET.tab == 'votes' %}
      $('.activity-tab-menu[data-tab="container-votes"]').trigger('click');
    {% endif %}
  </script>
{% endblock %}
