{% extends "base.html" %}
{% load i18n staticfiles %}
{% load common_tags %}
{% block title %}{% trans "Profile" %} {{ profile }} :: {{ block.super }}{% endblock %}

{% block robot %}
  <meta name="robots" content="NONE,NOARCHIVE" />
{% endblock %}

{% block css %}
  <link href="{% static 'css/semantic-calendar.min.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
  <div class="page content">
    {% include "includes/profile_menus_top.html" %}
    <div class="ui grid container">
      <div class="four wide column">
        {% include "includes/profile_menus_left.html" %}
      </div>
      <div class="twelve wide column">
        <form class="ui form" method="post">{% csrf_token %}
          <div class="ui grid">
            <div class="column">
              <div class="two fields">
                <div class="field">
                  <label>{{ form.display_name.label }}</label>
                  <div class="ui left icon input">
                    {{ form.display_name }}
                    <i class="credit card icon"></i>
                  </div>
                  {% if form.display_name.errors %}
                    <div class="ui pointing red basic label">
                      {% for error in form.display_name.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="field">
                  <label>{% trans "Username" %} *</label>
                  <div class="ui left icon input">
                    <input type="text" value="{{ request.user.username }}" readonly>
                    <i class="user card icon"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>{{ form.location.label }}</label>
                <div class="ui left icon input">
                  {{ form.location }}
                  <i class="marker icon"></i>
                </div>
                {% if form.location.errors %}
                  <div class="ui pointing red basic label">
                    {% for error in form.location.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="field">
                <label>{{ form.birth_date.label }}</label>
                <div class="ui calendar">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    {{ form.birth_date }}
                  </div>
                </div>
                {% if form.birth_date.errors %}
                  <div class="ui pointing red basic label">
                    {% for error in form.birth_date.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div><!-- end /.ui grid -->
          <div class="ui divider"></div>
          <div class="field">
            <label>{{ form.about_me.label }}</label>
            {{ form.about_me }}
            {% if form.about_me.errors %}
              <div class="ui pointing red basic label">
                {% for error in form.about_me.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="ui two fields">
            <div class="field">
              <label>{{ form.website.label }}</label>
              <div class="ui left icon input">
                {{ form.website }}
                <i class="linkify icon"></i>
              </div>
              {% if form.website.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.website.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="field">
              <label>{{ form.twitter.label }}</label>
              <div class="ui left icon input">
                {{ form.twitter }}
                <i class="twitter icon"></i>
              </div>
              {% if form.twitter.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.twitter.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="ui two fields">
            <div class="field">
              <label>{{ form.linkedin.label }}</label>
              <div class="ui left icon input">
                {{ form.linkedin }}
                <i class="linkedin icon"></i>
              </div>
              {% if form.linkedin.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.linkedin.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="field">
              <label>{{ form.github.label }}</label>
              <div class="ui left icon input">
                {{ form.github }}
                <i class="github icon"></i>
              </div>
              {% if form.github.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.github.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="field">
            <button type="submit" class="ui primary right floated button">
              <i class="check icon"></i> {% trans "Save Profile" %}
            </button>
          </div>
        </form>
      </div>
    </div><!-- end /.ui grid container -->
  </div><!-- end /.page.content -->
{% endblock %}

{% block js %}
  <script src="{% static 'js/semantic-calendar.min.js' %}"></script>
  <script src="{% static 'js/semantic-calendar-widget.js' %}"></script>
{% endblock %}
