{% extends "base.html" %}
{% load i18n %}
{% load common_tags user_info %}
{% block canonical %}{% url 'users_list' %}{% endblock %}

{% block title %}{% trans "Users" %} :: {{ block.super }}{% endblock %}

{% block content %}
  <div class="ui container margin-2-0">

    <div class="ui text container">
      <form class="ui small search search-users action fluid input" method="get" action=".">
        <input class="prompt query-users" type="text" name="q" placeholder="{% trans 'Search' %}...">
        <select name="filter" class="ui compact small selection dropdown dropdown-filter-users"
          onchange="javascript:form.submit()" style="min-height: 3em">
          <option value="top_posts" {% if filter == 'top_posts' %}selected{% endif %}>{% trans "Top Posts" %}</option>
          <option value="top_rated" {% if filter == 'top_rated' %}selected{% endif %}>{% trans "Top Rated" %}</option>
          <option value="date_joined" {% if filter == 'date_joined' %}selected{% endif %}>{% trans "Date Joined" %}</option>
        </select>
        <!-- {% csrf_token %} -->
        <button type="submit" class="ui button" style="border-radius: 0 10rem 10rem 0">
          <i class="search icon"></i> {% trans "Search" %}
        </button>
      </form>
    </div>
    <div class="ui divider no-border"></div>
    <center>
      <div class="ui mini menu pagination members-paginator">
        <a class="item spf-link {% if request.GET.abjad == 'a' %}active{% endif %}" href="?abjad=a">A</a>
        <a class="item spf-link {% if request.GET.abjad == 'b' %}active{% endif %}" href="?abjad=b">B</a>
        <a class="item spf-link {% if request.GET.abjad == 'c' %}active{% endif %}" href="?abjad=c">C</a>
        <a class="item spf-link {% if request.GET.abjad == 'd' %}active{% endif %}" href="?abjad=d">D</a>
        <a class="item spf-link {% if request.GET.abjad == 'e' %}active{% endif %}" href="?abjad=e">E</a>
        <a class="item spf-link {% if request.GET.abjad == 'f' %}active{% endif %}" href="?abjad=f">F</a>
        <a class="item spf-link {% if request.GET.abjad == 'g' %}active{% endif %}" href="?abjad=g">G</a>
        <a class="item spf-link {% if request.GET.abjad == 'h' %}active{% endif %}" href="?abjad=h">H</a>
        <a class="item spf-link {% if request.GET.abjad == 'i' %}active{% endif %}" href="?abjad=i">I</a>
        <a class="item spf-link {% if request.GET.abjad == 'j' %}active{% endif %}" href="?abjad=j">J</a>
        <a class="item spf-link {% if request.GET.abjad == 'k' %}active{% endif %}" href="?abjad=k">K</a>
        <a class="item spf-link {% if request.GET.abjad == 'l' %}active{% endif %}" href="?abjad=l">L</a>
        <a class="item spf-link {% if request.GET.abjad == 'm' %}active{% endif %}" href="?abjad=m">M</a>
        <a class="item spf-link {% if request.GET.abjad == 'n' %}active{% endif %}" href="?abjad=n">N</a>
        <a class="item spf-link {% if request.GET.abjad == 'o' %}active{% endif %}" href="?abjad=o">O</a>
        <a class="item spf-link {% if request.GET.abjad == 'p' %}active{% endif %}" href="?abjad=p">P</a>
        <a class="item spf-link {% if request.GET.abjad == 'q' %}active{% endif %}" href="?abjad=q">Q</a>
        <a class="item spf-link {% if request.GET.abjad == 'r' %}active{% endif %}" href="?abjad=r">R</a>
        <a class="item spf-link {% if request.GET.abjad == 's' %}active{% endif %}" href="?abjad=s">S</a>
        <a class="item spf-link {% if request.GET.abjad == 't' %}active{% endif %}" href="?abjad=t">T</a>
        <a class="item spf-link {% if request.GET.abjad == 'u' %}active{% endif %}" href="?abjad=u">U</a>
        <a class="item spf-link {% if request.GET.abjad == 'v' %}active{% endif %}" href="?abjad=v">V</a>
        <a class="item spf-link {% if request.GET.abjad == 'w' %}active{% endif %}" href="?abjad=w">W</a>
        <a class="item spf-link {% if request.GET.abjad == 'x' %}active{% endif %}" href="?abjad=x">X</a>
        <a class="item spf-link {% if request.GET.abjad == 'y' %}active{% endif %}" href="?abjad=y">Y</a>
        <a class="item spf-link {% if request.GET.abjad == 'z' %}active{% endif %}" href="?abjad=z">Z</a>
      </div>
    </center>

    <div class="ui divider no-border"></div>

    <div class="ui four cards">
      {% for user in object_list %}
        <div class="card" style="border-radius:0">
          <div class="content">
            <a class="header spf-link" href="{% url 'posts_author' username=user.username %}">
              {% if user.profile %}{{ user.profile }}{% else %}{{ user }}{% endif %}
            </a>
            <div class="meta">
              {% if user.profile.location %}
                {{ user.profile.location }}
              {% endif %}
            </div>
          </div>
          <div class="extra content extra-content-date">
            <div class="meta">
              <span title="{% trans 'Joined at' %} {{ user.date_joined }}" class="date">
                &raquo; <i>{% blocktrans with time=user.date_joined|timesince %}Joined at {{ time }} ago{% endblocktrans %}</i>
              </span><br />
              <span title="{% trans 'Last login at' %} {{ user.last_login }}" class="date">
                &raquo; <i>{% blocktrans with time=user.last_login|timesince %} Last login at {{ time }} ago{% endblocktrans %}</i>
              </span>
            </div>
          </div>
          <div class="extra content">
            <span title="{% trans 'Reputation scores' %}: {{ user|get_total_ratings }}">
              <i class="diamond orange icon"></i>{{ user|get_total_ratings|numberize }}
            </span>
            <a href="{% url 'posts_author' username=user.username %}" class="spf-link no-underline"
              title="{% blocktrans with total=user|get_total_posts %}Total posts: {{ total }}{% endblocktrans %}">
              <i class="feed orange icon"></i>{{ user|get_total_posts|numberize }}
            </a>
            <!--<a href="{% url 'posts_author' username=user.username %}?sort=featured" class="spf-link no-underline"
              title="{% blocktrans with total=user|total_featured_posts %}Total featured posts: {{ total }}{% endblocktrans %}">
              <i class="bookmark orange icon"></i>{{ user|total_featured_posts|numberize }}
            </a>-->
            <span class="right floated">
              <span title="{% blocktrans with total=user|get_total_ratings:'likes' %}Rating likes: {{ total }}{% endblocktrans %}">
                <i class="thumbs up green icon"></i>{{ user|get_total_ratings:"likes"|numberize }}
              </span>
              <span title="{% blocktrans with total=user|get_total_ratings:'dislikes' %}Rating dislikes: {{ total }}{% endblocktrans %}">
                <i class="thumbs down red icon"></i>{{ user|get_total_ratings:"dislikes"|numberize }}
              </span>
            </span>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="ui divider"></div>

    <div class="ui tiny pagination menu pagination-users">
      <a class="icon item" title="{% trans 'First Page' %}"
        {% if query %}
          href="?q={{ query }}&amp;filter={{ filter }}&amp;page=1"
        {% elif not query and filter %}
          href="?filter={{ filter }}&amp;page=1"
        {% elif abjad %}
          href="?abjad={{ abjad }}&amp;page=1"
        {% endif %}>
        <i class="angle double left icon"></i>
      </a>
      <a class="icon item {% if not page_obj.has_previous %}disabled{% endif %}" title="{% trans 'Previous Page' %}"
        {% if page_obj.has_previous %}
          {% if query %}
            href="?q={{ query }}&amp;filter={{ filter }}&amp;page={{ page_obj.previous_page_number }}"
          {% elif not query and filter %}
            href="?filter={{ filter }}&amp;page={{ page_obj.previous_page_number }}"
          {% elif abjad %}
            href="?abjad={{ abjad }}&amp;page={{ page_obj.previous_page_number }}"
          {% endif %}
        {% endif %}>
        <i class="left chevron icon"></i>
      </a>
      {% for linkpage in page_range %}
        {% ifequal linkpage page_obj.number %}
          <span class="item active">{{ page_obj.number }}</span>
          {% else %}
          <a class="item"
            {% if query %}
              href="?q={{ query }}&amp;filter={{ filter }}&amp;page={{ linkpage }}"
            {% elif not query and filter %}
              href="?filter={{ filter }}&amp;page={{ linkpage }}"
            {% elif abjad %}
              href="?abjad={{ abjad }}&amp;page={{ linkpage }}"
            {% endif %}>{{ linkpage }}</a>
        {% endifequal %}
      {% endfor %}
      <a class="icon item {% if not page_obj.has_next %}disabled{% endif %}" title="{% trans 'Next Page' %}"
        {% if page_obj.has_next %}
          {% if query %}
            href="?q={{ query }}&amp;filter={{ filter }}&amp;page={{ page_obj.next_page_number }}"
          {% elif not query and filter %}
            href="?filter={{ filter }}&amp;page={{ page_obj.next_page_number }}"
          {% elif abjad %}
            href="?abjad={{ abjad }}&amp;page={{ page_obj.next_page_number }}"
          {% endif %}
        {% endif %}>
        <i class="right chevron icon"></i>
      </a>
      <a class="icon item" title="{% trans 'Last Page' %}"
        {% if query %}
          href="?q={{ query }}&amp;filter={{ filter }}&amp;page={{ page_obj.paginator.num_pages }}"
        {% elif not query and filter %}
          href="?filter={{ filter }}&amp;page={{ page_obj.paginator.num_pages }}"
        {% elif abjad %}
          href="?abjad={{ abjad }}&amp;page={{ page_obj.paginator.num_pages }}"
        {% endif %}>
        <i class="angle double right icon"></i>
      </a>
    </div><!-- end /.pagination-users -->
    <form class="ui large action input go-to-page" action="." method="get">
      <input type="number" min="1" name="page" value="{{ page }}" placeholder="{% trans 'Jump to page' %}" required>
      {% if query %}
        <input type="hidden" name="q" value="{{ query }}">
        <input type="hidden" name="filter" value="{{ filter }}">
      {% elif not query and filter %}
        <input type="hidden" name="filter" value="{{ filter }}">
      {% elif abjad %}
        <input type="hidden" name="abjad" value="{{ abjad }}">
      {% endif %}
      <!--{% csrf_token %}-->
      <button type="submit" class="ui button">{% trans "GO" %}</button>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script>
    {% if query %}
      $('.query-users').val('{{ query }}');
    {% endif %}
    // $('.dropdown-filter-users option[value={{ filter }}]').prop('selected', true);
  </script>
{% endblock %}
