@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 13.5px;
  font-family: Arial,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background: #FFF;
  background-image: url('/static/images/subtle_dots.png');
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  font-smoothing: antialiased;
}

p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}
a {
  color: #4078C0;
  text-decoration: none;
}
a:hover {
  color: #6999ca;
  text-decoration: underline;
}
::-webkit-selection {
  background-color: #CCE2FF;
  color: rgba(0,0,0,.87);
}
::-moz-selection {
  background-color: #CCE2FF;
  color: rgba(0,0,0,.87);
}
::selection {
  background-color: #CCE2FF;
  color: rgba(0,0,0,.87);
}
input::-webkit-selection,
textarea::-webkit-selection {
  background-color: rgba(100,100,100,.4);
  color: rgba(0,0,0,.87);
}
input::-moz-selection,
textarea::-moz-selection {
  background-color: rgba(100,100,100,.4);
  color: rgba(0,0,0,.87);
}
input::selection,
textarea::selection {
  background-color: rgba(100,100,100,.4);
  color: rgba(0,0,0,.87);
}
hr {
  background-image: linear-gradient(to right,silver 50%,rgba(255,255,255,0) 40%);
  background-position: top;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  height: 1px;
  border-top: 0;
  border-bottom: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
/* No stuffs */
.no-radius {
  border-radius: unset!important;
}
.no-underline {
  text-decoration: none!important;
}
.no-border {
  border: none!important;
}
.no-bg, .no-background {
  background: none!important;
  background-color: none!important;
  background-image: none!important;
}

/* Text */
.text-normal {
  font-size: 14px;
}
.text-sm,
.text-small {
  font-size: 12px;
}
.text-bold {
  font-weight: bold;
}
.text-orange {
  color: #ea9256;
}
.text-red {
  color: #ff0000;
}
.text-yellow {
  color: #FBBD08;
}
.text-brown {
  color: #A5673F;
}
.text-green {
  color: #28a745;
}

/* Buttons */
.bg-gradient-default {
  border: none;
  background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,.05)) #FBFBFB;
  background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,.05)) #FBFBFB;
  box-shadow: 0 0 0 1px rgba(0,0,0,.13) inset, 0 0 0 0 rgba(0,0,0,.13) inset;
  color: #333;
}
.bg-gradient-default.btn:focus,
.bg-gradient-default.btn:hover {
  background-color: #F0F0F0;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,.1));
  background-image: linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,.1));
  box-shadow: 0 0 0 1px rgba(0,0,0,.13) inset, 0 0 0 0 rgba(0,0,0,.13) inset;
  color: rgba(0,0,0,.8);
}
.bg-gradient-primary {
  background: #1275de linear-gradient(180deg,#268fff,#1275de) repeat-x!important;
  color: #fff;
}
.bg-gradient-primary.btn:focus,
.bg-gradient-primary.btn:hover {
  background: #0069d9 linear-gradient(180deg,#267fde,#0069d9) repeat-x!important;
  border-color: #0062cc;
  color: #ececec;
}
.bg-gradient-secondary {
  background: #6c757d linear-gradient(180deg,#828a91,#6c757d) repeat-x!important;
  color: #fff;
}
.bg-gradient-secondary.btn:focus,
.bg-gradient-secondary.btn:hover {
  background: #5a6268 linear-gradient(180deg,#73797f,#5a6268) repeat-x!important;
  border-color: #545b62;
  color: #ececec;
}
.bg-gradient-success {
  background: #2aa245 linear-gradient(180deg,#55ce71,#2aa245) repeat-x!important;
  color: #fff;
}
.bg-gradient-success.btn:focus,
.bg-gradient-success.btn:hover {
  background: #25903d linear-gradient(180deg,#4ac567,#25903d) repeat-x!important;
  border-color: #38a952;
  color: #ececec;
}
.bg-gradient-info {
  background: #1f92a5 linear-gradient(180deg,#3ab0c3,#1f92a5) repeat-x!important;
  color: #fff;
}
.bg-gradient-info.btn:focus,
.bg-gradient-info.btn:hover {
  background: #138496 linear-gradient(180deg,#3697a6,#138496) repeat-x!important;
  border-color: #117a8b;
  color: #ececec;
}
.bg-gradient-danger,
.bg-gradient-error {
  background: #bf2e3c linear-gradient(180deg,#f76573,#bf2e3c) repeat-x!important;
  color: #fff;
}
.bg-gradient-danger.btn:focus,
.bg-gradient-danger.btn:hover,
.bg-gradient-error.btn:focus,
.bg-gradient-error.btn:hover {
  background: #bb3838 linear-gradient(180deg,#e15361,#bb3838) repeat-x!important;
  border-color: #bd2130;
  color: #ececec;
}
.bg-gradient-warning {
  /* background-color: #f2711c;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-image: -webkit-linear-gradient(rgba(255,255,255,.2),rgba(0,0,0,.2));
  background-image: linear-gradient(rgba(255,255,255,.2),rgba(0,0,0,.2)); */

  background: #d8a229 linear-gradient(180deg,#f5c731,#cc9823) repeat-x!important;
  color: #fff;
}
.bg-gradient-warning.btn:hover,
.bg-gradient-warning.btn:focus {
  background: #c3911e linear-gradient(180deg,#eab12d,#c3911e) repeat-x!important;
  border-color: #c3911e;
  color: #ececec;
}

/* Soft Gradient */
.bg-gradient-default-soft {
  background: #efefef linear-gradient(180deg,#ffffff,#f3f3f3) repeat-x!important;
  color: #3a3939;
}
.bg-gradient-primary-soft {
  background: #e8f3ff linear-gradient(180deg,#f7faff,#cbe2fb) repeat-x!important;
  color: #2d5d90;
}
.bg-gradient-secondary-soft {
  background: #f0f0f1 linear-gradient(180deg,#ffffff,#e8e8e8) repeat-x!important;
  color: #495057;
}
.bg-gradient-success-soft {
  background: #d5fbdb linear-gradient(180deg,#f8fff9,#d3fbd8) repeat-x!important;
  color: #296530;
}
.bg-gradient-info-soft {
  background: #d5f9ff linear-gradient(180deg,#f5fdff,#dff8ff) repeat-x!important;
  color: #0f799a;
}
.bg-gradient-danger-soft,
.bg-gradient-error-soft {
  background: #f9eae9 linear-gradient(180deg,#fffbfb,#fbdedd) repeat-x!important;
  color: #8e413e;
}
.bg-gradient-warning-soft {
  background: #fbf4d6 linear-gradient(180deg,#fffefc,#fdf5d5) repeat-x!important;
  color: #8a7628;
}

/* Ribbon */
.ribbon-wrapper-orange {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-orange {
  font: bold 10px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #ffeb00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbe160), to(#f3a570));
  background-image: -webkit-linear-gradient(top, #fbe160, #f3a570);
  background-image: -moz-linear-gradient(top, #fbe160, #f3a570);
  background-image: -ms-linear-gradient(top, #fbe160, #f3a570);
  background-image: -o-linear-gradient(top, #fbe160, #f3a570);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-orange:before, .ribbon-orange:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-orange:before {
  left: 0;
}
.ribbon-orange:after {
  right: 0;
}

.main-container {
  margin-top: 5rem;
}


/* Navbar */
.navbar-top {
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 5px #00000057;
}
.nav-profile-left {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(0,0,0,.13);
}
.nav-profile-left a.nav-link {
  margin: 0 -2px 0 0;
}
.nav-profile-left a.nav-link.active {
  color: #6c757d;
  border-right-color: #333;
  border-right-width: 2px;
  border-right-style: solid;
}
.nav-page-right {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(0,0,0,.13);
}
.nav-page-right a.nav-link {
  margin: 0 0 0 -2px;
}
.nav-page-right a.nav-link.active {
  color: #6c757d;
  border-left-color: #333;
  border-left-width: 2px;
  border-left-style: solid;
}

/* Nav Tabs */
.nav-tabs-post-list.nav-tabs .nav-link:focus,
.nav-tabs-post-list.nav-tabs .nav-link:hover,
.nav-tabs-profile.nav-tabs .nav-link:focus,
.nav-tabs-profile.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.nav-tabs-post-list.nav-tabs .nav-link.active:focus,
.nav-tabs-post-list.nav-tabs .nav-link.active:hover,
.nav-tabs-profile.nav-tabs .nav-link.active:focus,
.nav-tabs-profile.nav-tabs .nav-link.active:hover {
  border-color: #dee2e6 #dee2e6 #fff;
}

/* Statistic */
.stats {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  max-height: '';
  -webkit-align-self: top;
  -ms-flex-item-align: top;
  align-self: top;
  /* margin-right: 1em; */
}
.stats>.votes {
  border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  background: #f5f5f5;
}
.stats>.views {
  border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  color: #666;
  background: #e8e8e8;
}
.stats>.stats-inside {
  padding: 10px;
  text-align: center;
}
.stats>.stats-inside .label {
  font-size: 10px!important;
}
.stats .vote-up,
.stats .vote-down,
.stats .vote-favorite {
  cursor: pointer;
}
.stats .vote-up:hover,
.stats .vote-down:hover,
.stats .vote-favorite:hover {
  color: #F2711C!important;
}

/* Cards */
.card-post-item {
  border: none;
  border-bottom: 1px solid #efefef;
  position: relative;
}
.card-footer-post-item {
  border: none;
  background: transparent;
  position: relative;
  padding-top: 0;
}
.card-post-item .post-item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  margin-top: 0;
  width: 100%;
  min-height: 0;
  background: 0 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: box-shadow .1s ease;
  transition: box-shadow .1s ease;
  z-index: '';
}
.card-post-item .post-item-content .stats {
  line-height: 2rem;
  font-size: 17px;
}
.card-footer .tags {

}
.card-shadow {
  border: 1px solid #dee2e6;
  border-top: none;
  box-shadow: 0 3px 5px #eaeaea
}
.badge-tag {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .15384615em;
  background-color: #E8E8E8;
  background-image: none;
  padding: 8px 7px;
  color: rgba(0,0,0,.6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .30769231rem;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}
.card-footer .author {
  margin-bottom: 11px;
}
.card-footer .author .name {
  margin: .2rem 0;
}
.card-footer .author-ratings>span {
  margin-right: 5px;
}
.card-footer .author-ratings svg {
  margin-bottom: 3px;
}


/* Sidebar */
.sidebar-bulletin {
  margin: 2em 0;
  padding: 15px 15px 10px;
  background-color: #FFF8DC;
  border: 1px solid #E0DCBF;
}


/* Footer */
.footer.container {
  position: relative;
  margin-top: 60px;
  padding-bottom: 2.5em;
}

.footer.container .nav-link {
  padding: 0 .7rem;
}
.footer.container .nav-link:focus,
.footer.container .nav-link:hover {
  text-decoration: underline;
}


/* Share Button */
.dropdown.dropdown-share-post>.dropdown-menu {
  color: #e4e6e8;
  top: .5rem!important;
  border-radius: 4px;
  -moz-box-shadow: 1px 2px 2px rgba(12,13,14,0.4),inset 0 1px 0 rgba(255,255,255,0.3);
  -webkit-box-shadow: 1px 2px 2px rgba(12,13,14,0.4),inset 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: 1px 2px 2px rgba(12,13,14,0.4),inset 0 1px 0 rgba(255,255,255,0.3);
  border: 1px solid #0C0D0E;
  background-color: #2f3337;
}
.dropdown.dropdown-share-post>.dropdown-menu::after {
  display: block;
  position: absolute;
  pointer-events: none;
  content: '';
  visibility: visible;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: .69230769em;
  height: .69230769em;
  box-shadow: -1px -1px 0 1px rgba(0,0,0,.13);
  background: #FFF;
  z-index: 2;
  top: -.34615385em;
  left: 1.5em;
  right: auto;
  margin: 0;
  transform: rotate(45deg);
}
.dropdown-share-post>.dropdown-toggle::after {
  content: none!important;
}
.dropdown.dropdown-share-post>.dropdown-menu:after {
  background: #2F3337;
}
.dropdown.dropdown-share-post>.dropdown-menu>.dropdown-item {
  color: #f0f0f0;
}
.dropdown.dropdown-share-post>.dropdown-menu>.dropdown-item:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.07);
}
.dropdown-share-post .dropdown-divider {
  border-top: 1px solid rgba(0,0,0,.06);
  height: 0;
  margin: .61538462em 0;
}


/* Form */
.form-important {
  background: #f9f9f9;
  padding: 7px 10px;
  border: 1px dashed #ddd;
  margin-bottom: 1rem;
}
