{% load i18n static %}

<div class="hinamalengkaps">
  <span class="span1">{% blocktrans with user_username=user.username %}Hi {{ user_username }},<br/>{% endblocktrans %}</span>
</div>

<div class="rectangle1">
  <div class="andadapatmengaktif">
    <p>{% blocktrans with get_username=user.username get_site_name=site_name %}You received this email because you asked for a password reset for your account {{ get_username }} at {{ get_site_name }}.{% endblocktrans %}</p>
  </div>
</div>

<div class="group2">
  <a href="{{ protocol }}://{{ domain }}{% url 'account_reset_password_from_key' uidb36=uid key=token %}">
    <p>{% trans "Reset password" %}</p>
  </a>
</div>

<div class="copyright-now">
  Copyright &copy; {% now "Y" %}
</div>
