{% load i18n staticfiles %}
<div class="footer">
  <div class="ui container">
    <div class="ui section divider"></div>
    <div class="ui small right floated horizontal list">
      <!--<a class="item spf-link" href="#">{% trans "Service" %}</a>-->
      <a class="item spf-link" href="{% url 'docs_home' %}">{% trans "Developers API" %}</a>
      <!--<a class="item" href="#">Shop</a>-->
      <a class="item spf-link" href="{% url 'contact_us' %}">{% trans "Contact" %}</a>
      <a class="item spf-link" href="{% url 'pages_detail' slug='about' %}">{% trans "About" %}</a>
      {% include "includes/switch_language.html" %}
    </div>
    <a href="{% url 'posts_list' %}" class="spf-link centered-image">
      <img alt="Python Learning" title="Python Learning" src="{% static 'images/medium-logo-orange.png' %}" style="width:30px">
    </a>
    <div class="ui small horizontal list">
      <div class="disabled item" href="#">&copy; 2014-{% now "Y" %} Python Learning.</div>
      <a class="item spf-link" href="{% url 'pages_detail' slug='disclaimer' %}">{% trans "Disclaimer" %}</a>
      <a class="item spf-link" href="{% url 'pages_detail' slug='term-of-service' %}">{% trans "Terms" %}</a>
      <a class="item spf-link" href="{% url 'pages_detail' slug='privacy-policy' %}">{% trans "Privacy" %}</a>
    </div>
  </div>
</div>
