{% load static i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/medium-logo-orange.png' %}" width="30" height="30" alt="Python Learning" loading="lazy">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline mr-sm-4" method="get" action="{% url 'apps.blog:post_list' %}">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-searh-post">{% trans "Posts" %}</span>
        </div>
        <input name="q" type="text" class="form-control" placeholder='{% trans "Search..." %}'
               aria-label="Username" aria-describedby="addon-searh-post" {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %}>
        {% csrf_token %}
      </div>
    </form>

    <div class="collapse navbar-collapse" id="navbar-toggle">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.resolver_match.url_name == 'post_list' %}active{% endif %}">
          <a class="nav-link" href="{% url 'apps.blog:post_list' %}">{% trans "Posts" %} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'tag_list' %}active{% endif %}">
          <a class="nav-link" href="{% url 'apps.blog:tag_list' %}">{% trans "Tags" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{% trans "Products" %}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>{% trans "More" %}</span>
          </a>
          <div class="dropdown-menu text-sm" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'apps.blog:page_service' %}">{% trans "Services" %}</a>
            <a class="dropdown-item" href="#">{% trans "Sponsor" %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'apps.blog:page_about' %}">{% trans "About" %}</a>
            <a class="dropdown-item" href="#">{% trans "Contact" %}</a>
            <a class="dropdown-item" href="#">{% trans "Developers" %}</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav pull-right">
        <li class="nav-item">
          <a class="nav-link" href="#">{% trans "Sign In" %}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
