{% load i18n %}

{% if request.user.is_authenticated %}
  <div class="ui secondary vertical pointing fluid menu">
    <a class="item spf-link edit-profile-menu-left {% if request.resolver_match.url_name == 'profile_edit' %}active{% endif %}"
      href="{% url 'profile_edit' %}">
      <i class="user icon"></i> {% trans "Edit Profile" %}
    </a>
    <a class="item spf-link edit-email-menu-left {% if request.resolver_match.url_name == 'account_email' %}active{% endif %}"
      href="{% url 'account_email' %}">
      <i class="mail icon"></i> {% trans "Edit Emails" %}
    </a>
    <a class="item spf-link edit-password-menu-left {% if request.resolver_match.url_name == 'account_change_password' %}active{% endif %}"
      href="{% url 'account_change_password' %}">
      <i class="lock icon"></i> {% trans "Edit Password" %}
    </a>
    <a class="item spf-link edit-social-menu-left {% if request.resolver_match.url_name == 'socialaccount_connections' %}active{% endif %}"
      href="{% url 'socialaccount_connections' %}">
      <i class="share alternate icon"></i> {% trans "Social Connections" %}
    </a>
  </div>
{% endif %}
