{% load i18n %}

<div class="repo ribbon">
  <div class="ui tabular menu">
    <div class="ui container">
      <a class="item spf-link view-profile-menu-top"
        href="{% if user %}{% url 'profile_detail' username=user.username %}{% else %}{% url 'profile_detail' username=request.user.username %}{% endif %}">
        <i class="user icon"></i> {% trans "Profile" %}
      </a>
      <a class="item spf-link activity-menu-top"
        href="{% if user %}{% url 'profile_activity' username=user.username %}{% else %}{% url 'profile_activity' username=request.user.username %}{% endif %}">
        <i class="clock icon"></i> {% trans "Activity" %}
      </a>
      {% if request.user.is_authenticated %}
        {% if user == request.user %}
          <a href="{% url 'posts_me' %}" class="item spf-link {% if request.resolver_match.url_name == 'posts_me' %}active{% endif %}">
            <i class="rss icon"></i> {% trans "My Posts" %}
          </a>
          <a class="item spf-link edit-profile-menu-top {% if request.resolver_match.url_name == 'profile_edit' %}active{% endif %}"
            href="{% url 'profile_edit' %}">
            <i class="settings icon"></i> {% trans "Edit Profile &amp; Settings" %}
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
