{% load i18n %}
<div class="item-switch-language">
  <form action="#FIXME" method="post" class="form-switch-lang">{% csrf_token %}
    <select class="switch-language" name="language" onchange="javascript:form.submit()">
      {% get_available_languages as LANGUAGES %}
      {% for lang in LANGUAGES %}
        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
      {% endfor %}
    </select>
  </form>
</div>
<script>
  $('.switch-language option[value={{ request.LANGUAGE_CODE }}]').attr('selected', 'selected');
</script>
