{% extends "base.html" %}
{% load static i18n %}
{% load common_tags martortags %}

{% block title %}{{ product.title }} - {{ block.super }}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'martor/css/martor.bootstrap.min.css' %}" />
  <style>div.martor-preview {padding:0;background:transparent}</style>
{% endblock %}

{% block content %}
  <div class="container p-3">
    <h5 class="mt-3 mb-0">
      <a href="{% url 'apps.product:product_list' %}" class="no-underline">{% trans "Products" %}</a>
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
      <a href="" class="no-underline">{{ product.title }}</a>

      {% if request.user.is_superuser or request.user == product.author %}
        <a href="{% url 'apps.product:product_update' id=product.id %}" class="btn btn-sm bg-gradient-warning text-sm float-right" style="padding:4px 10px 5px 10px">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          <span>{% trans "Update" %}</span>
        </a>
      {% endif %}
    </h5>
    <small class="text-muted">{{ product.created_at }} &dash; {% blocktrans with visitors=visitor_counter.total_visitors %}viewed in {{ visitors }} times.{% endblocktrans %}</small>

    <div class="mt-3">
      <div class="card card-shadow">
        {% if product.type == 'premium' %}
          <div class="ribbon-wrapper-orange" style="z-index:100">
            <div class="ribbon-orange">{{ product.get_type_display }}</div>
          </div>
        {% endif %}

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p class="text-normal"><strong>{{ product.title }}</strong> &mdash; {{ product.sort_description }}</p>
            </div>
            <div class="col-md-6">
              <h4 class="card-title">
                {% if product.price > 0 %}
                  {% if product.price_discount %}
                    <span class="price text-normal" style="text-decoration:line-through;color:#8a8484">{{ product.currency_code_label|is_exist }}{{ product.price }}</span>
                    <span class="price text-bold">{{ product.currency_code_label|is_exist }}{{ product.price_discount }}</span>
                  {% else %}
                    <span class="price text-bold">{{ product.currency_code_label|is_exist }}{{ product.price }}</span>
                  {% endif %}
                {% else %}
                  <span class="price text-bold">{% trans "Free" %}</span>
                {% endif %}
              </h4>

              <div class="action-buttons">
                {% if product.demo_url %}
                  <a href="{{ product.demo_url }}" class="btn bg-gradient-default text-normal" target="_blank">
                {% else %}
                  <a class="btn bg-gradient-default text-normal disabled">
                {% endif %}
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                    <span>&nbsp;{% trans "View Demo" %}&nbsp;</span>
                  </a>
                {# eof #}

                {% if product.download_url %}
                  <a href="{{ product.download_url }}" class="btn bg-gradient-success text-normal text-center" target="_blank">
                {% else %}
                  <a class="btn bg-gradient-success text-normal text-center disabled">
                {% endif %}
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                    </svg>
                    <span>&nbsp;{% trans "Download" %}&nbsp;</span>
                  </a>
                {# eof #}

                {% if product.buy_url %}
                  <a href="{{ product.buy_url }}" class="btn bg-gradient-primary text-normal" target="_blank">
                {% else %}
                  <a class="btn bg-gradient-primary text-normal disabled">
                {% endif %}
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2z"/>
                      <path d="M0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"/>
                    </svg>
                    <span>&nbsp;{% trans "Buy now" %}&nbsp;</span>
                  </a>
                {# eof #}
              </div>
            </div>
          </div>

          <hr />

          {% if product.list_image_urls|length == 1 %}
            <div class="product-image">
              <img src="{{ product.list_image_urls.0 }}" class="d-block w-100" alt="{{ product.title }}">
            </div>
          {% elif product.list_image_urls|length > 1 %}
            <div class="product-image">
              <div id="carouselImageProducts-single" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  {% for image_url in product.list_image_urls %}
                    <li data-target="#carouselImageProducts-single" data-slide-to=-single" {% if forloop.first %}class="active"{% endif %}></li>
                  {% endfor %}
                </ol>
                <div class="carousel-inner">
                  {% for image_url in product.list_image_urls %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                      <img src="{{ image_url }}" class="d-block w-100" alt="{{ product.title }}">
                    </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselImageProducts-single" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">{% trans "Previous" %}</span>
                </a>
                <a class="carousel-control-next" href="#carouselImageProducts-single" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">{% trans "Next" %}</span>
                </a>
              </div>
            </div><!-- /.product-image -->
          {% endif %}

          {% if product.long_description %}
            <hr />
            <div class="description-more martor-preview">
              {{ product.long_description|safe_markdown }}
            </div>
          {% endif %}
        </div><!-- /.card-body -->

        {% if product.terms_of_service %}
          <div class="card-footer tos">
            <strong>{% trans "Terms of Service" %}</strong> &mdash; {{ product.terms_of_service }}
          </div>
        {% endif %}
      </div>
    </div><!-- /.row-content -->
  </div>
{% endblock %}


{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/djangoblog.detail.js' %}"></script>
{% endblock %}
