{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "E-mail Addresses" %} - {{ block.super }}{% endblock %}

{% block robot %}
  <meta name="robots" content="NONE,NOARCHIVE" />
{% endblock %}

{% block content %}
  <div class="container p-3">
    {% include "apps/accounts/user/includes/nav_tabs.html" %}
    <div class="row mt-4 row-content">
      <div class="col-md-3">
        {% include "apps/accounts/user/includes/nav_left.html" %}
      </div>
      <div class="col-md-9">
        <div class="bg-white p-4" style="border:1px solid #dee2e6;border-top:none;box-shadow:0 3px 5px #eaeaea">
          {% if user.emailaddress_set.all %}
            <p class="sidebar-bulletin m-0 mb-3 p-3">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <span>{% trans 'The following e-mail addresses are associated with your account:' %}</span>
            </p>
            <form method="post" action="{% url 'account_email' %}" class="form">
              {% csrf_token %}

              {% for emailaddress in user.emailaddress_set.all %}
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="email" value="{{ emailaddress.email }}" id="email_radio_{{ forloop.counter }}" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %}>
                    <label class="form-check-label {% if emailaddress.primary %}primary_email{%endif%}" for="email_radio_{{ forloop.counter }}" role="button">
                      <span>{{ emailaddress.email }}</span>

                      {% if emailaddress.verified %}
                        <span class="badge badge-success">{% trans "Verified" %}</span>
                      {% else %}
                        <span class="badge badge-secondary">{% trans "Unverified" %}</span>
                      {% endif %}

                      {% if emailaddress.primary %}
                        <span class="badge badge-primary">{% trans "Primary" %}</span>
                      {% endif %}
                    </label>
                  </div>
                </div>
              {% endfor %}

              <div class="buttonHolder">
                <button class="btn btn-sm bg-gradient-primary" type="submit" name="action_primary">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                  <span>{% trans 'Make Primary' %}</span>
                </button>
                <button class="btn btn-sm bg-gradient-info" type="submit" name="action_send">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                  </svg>
                  <span>{% trans 'Re-send Verification' %}</span>
                </button>
                <button class="btn btn-sm bg-gradient-danger" type="submit" name="action_remove">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                  </svg>
                  <span>{% trans 'Remove' %}</span>
                </button>
              </div>
            </form>
            <hr />
          {% else %}
            <p class="sidebar-bulletin m-0 p-3">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
            </p>
          {% endif %}

          <form class="form-inline mt-4 mb-2" method="post" action="{% url 'account_email' %}">
            {% csrf_token %}
            <div class="form-group mr-2">
              <label class="text-bold text-right" for="id_email">{% trans 'E-mail' %}</label>
            </div>
            <div class="form-group mx-sm-3">
              <label for="id_email" class="sr-only">{% trans "E-mail" %}</label>
              <input class="form-control text-normal" type="email" name="email" size="30" placeholder="{% trans 'E-mail address' %}" id="id_email" required>
            </div>
            <button name="action_add" type="submit" class="btn bg-gradient-success text-normal">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
              <span>{% trans "Add E-mail" %}</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block js %}
  <script>
    (function() {
      var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
      var actions = document.getElementsByName('action_remove');
      if (actions.length) {
        actions[0].addEventListener("click", function(e) {
          if (! confirm(message)) {
            e.preventDefault();
          }
        });
      }
    })();
  </script>
{% endblock %}
