{% extends "allauth/account/base.html" %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %} - {{ block.super }}{% endblock %}

{% block content %}
  <form class="form-center" method="post" action="{% url 'account_login' %}">{% csrf_token %}
    <div class="text-center mb-3">
      <a href="/">
        <img class="mb-4" src="{% static 'images/large-logo-orange.png' %}" alt="python.web.id" width="72" height="72">
      </a>
      <h1 class="h6 mb-3 font-weight-bold">{% trans "Welcome to Python Learning!" %}</h1>
      <p>{% blocktrans %}Please sign in with one of your existing third party accounts, <br>or use login form below:{% endblocktrans %}</p>

      {% if form.non_field_errors %}
        <div class="non-field-errors text-sm text-red">
          {% for err in form.non_field_errors %}
            <span class="form-error">{{ err }}</span>{% if not forloop.last %}<br />{% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="d-flex justify-content-center mb-3">
      <a href="{% url 'github_login' %}?process=signin" class="btn bg-gradient-default">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        <span>&nbsp;{% trans "Github" %}&nbsp;</span>
      </a>
      <span class="ml-3 mr-3 mt-2">{% trans "OR" %}</span>
      <a href="{% url 'linkedin_login' %}?process=signin" class="btn bg-gradient-primary">
        <span>&nbsp;{% trans "LinkedIn" %}&nbsp;</span>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </a>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-6">
        <div class="form-group form-label-group">
          {{ form.login }}
          <label for="id_login">{% trans 'Username' %}</label>
          {% if form.login.errors %}
            <div class="invalid-feedback" style="display:block">
              {% for error in form.login.errors %}
                {{ error }}{% if not forloop.last %}<br />{% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group form-label-group">
          {{ form.password }}
          <label for="id_password">{% trans 'Password' %}</label>
          {% if form.password.errors %}
            <div class="invalid-feedback" style="display:block">
              {% for error in form.password.errors %}
                {{ error }}{% if not forloop.last %}<br />{% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if form.captcha %}
      <div class="form-captcha">
        <div class="d-flex justify-content-center">
          {{ form.captcha }}
        </div>
        {% if form.captcha.errors %}
          <div class="text-center invalid-feedback" style="display:block">
            {% for error in form.captcha.errors %}
              {{ error }}{% if not forloop.last %}<br />{% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="d-flex justify-content-center mb-2 mt-3">
      <label>{{ form.remember }} &nbsp; {{ form.remember.label }}</label>
    </div>

    <div style="padding:0 70px">
      <button class="btn btn-submit bg-gradient-primary btn-block" type="submit">{% trans "Sign in" %}</button>
    </div>

    <div class="mt-3 mb-3 text-muted text-center">
      <p>{% blocktrans %}If you have not created an account yet, <br>then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
    </div>
  </form>
{% endblock %}


{% block js %}
  <script>
    // changing the html class
    $('input[type="text"], input[type="password"]').attr('class', 'form-control');

    // Disable submit button after click, from: `static/js/djangoblog.js`
    $(document).on('click', '.btn-submit', function() {
      var form = $(this).closest('form');
      var button = $(this);
      submitAndDisableButton(form, button);
    });
  </script>
{% endblock %}
