{% extends "base_blank.html" %}
{% load i18n staticfiles %}
{% load account socialaccount %}
{% block title %}{% trans "Sign In" %} :: {{ block.super }}{% endblock %}
{% block robot %}<meta name="robots" content="noodp"/>{% endblock %}
{% block canonical %}{% url 'account_login' %}{% endblock %}

{% block content %}
  <div class="ui grid container">
    <div class="three wide column"></div>
    <div class="ten wide column margin-2-0">
      <div class="ui main-login-form">
        <div class="ui grey center aligned icon header">
          <a href="{% url 'posts_list' %}" class="ui link spf-link no-underline">
            <img src="{% static 'images/medium-logo-orange.png' %}">
          </a>
          <div class="content">{% trans "Welcome to Python Learning!" %}</div>
          <div class="sub header">{% trans "Please sign in with one of your existing third party accounts, or use login form below:" %}</div>
        </div>
        <form class="ui form segment" method="post" action=".">{% csrf_token %}
          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
          {% endif %}
          <div class="field">
            <div class="big ui two attached buttons radius-two-buttons">
              <a href="{% url 'github_login' %}"class="ui github button"><i class="github icon"></i> Github</a>
              <div class="or"></div>
              <a href="{% url 'linkedin_login' %}" class="ui linkedin button"><i class="linkedin square icon"></i> LinkedIn</a>
            </div>
          </div>
          <div class="ui dividing header"></div>
          <div class="two fields">
            <div class="field">
              <label>{{ form.login.label }} *</label>
              <div class="ui left icon input">
                {{ form.login }}
                <i class="user icon"></i>
              </div>
              {% if form.login.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.login.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="field">
              <label>{{ form.password.label }} *</label>
              <div class="ui left icon input">
                {{ form.password }}
                <i class="key icon"></i>
              </div>
              {% if form.password.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div><!-- end  /.two fields -->
          <div class="two fields">
            <div class="field">
              <label>{{ form.captcha.label }} *</label>
              {{ form.captcha }}
              {% if form.captcha.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.captcha.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="field">
              <hr style="border-color:transparent"/>
              <div class="ui segment">
                <div class="field">
                  <div class="ui toggle checkbox">
                    {{ form.remember }}
                    <label>{{ form.remember.label }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end  /.two fields -->
          <div class="field">
            <div class="strike"></div>
            <button class="fluid ui primary big button" type="submit">
              <i class="sign in icon"></i> {% trans "Process Login" %}
            </button>
          </div>
          <div class="ui message message-bulletin">
            <i class="info icon circle"></i> {% trans "Don't have an account?" %} {% trans "Please" %} <a href="{{ signup_url }}" class="spf-link">{% trans "signup first" %}</a>, {% trans "or" %} <a href="{% url 'account_reset_password' %}" class="spf-link">{% trans "forgot password" %}</a>.
          </div>
        </form>
      </div>
    </div>
    <div class="three wide column"></div>
  </div>
{% endblock %}


{% block js %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
