{% extends "allauth/account/base.html" %}
{% load static i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %} - {{ block.super }}{% endblock %}

{% block content %}
  {% if token_fail %}
    <div class="form-center">
      <div class="text-center mb-3">
        <a href="/">
          <img class="mb-4" src="{% static 'images/large-logo-orange.png' %}" alt="" width="72" height="72">
        </a>
        <h1 class="h6 mb-3 font-weight-bold">{% trans "Bad Token" %}</h1>

        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

        <div class="mt-3 mb-3 text-muted text-center">
          <p>&larr; {% blocktrans %}<a href="/">Go to homepage</a>{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  {% else %}
    {% if form %}
      <form class="form-center" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <div class="text-center mb-3">
          <a href="/">
            <img class="mb-4" src="{% static 'images/large-logo-orange.png' %}" alt="" width="72" height="72">
          </a>
          <h1 class="h6 mb-3 font-weight-bold">{% trans "Change Password" %}</h1>

          {% user_display confirmation.email_address.user as user_display %}
          <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
        </div>
        <div style="padding:0 70px">
          <button class="btn bg-gradient-primary btn-block" type="submit">{% trans "Confirm" %}</button>
        </div>
      </form>
    {% else %}
      <div class="form-center">
        <div class="text-center mb-3">
          <a href="/">
            <img class="mb-4" src="{% static 'images/large-logo-orange.png' %}" alt="" width="72" height="72">
          </a>
          <h1 class="h6 mb-3 font-weight-bold">{% trans "Change Password" %}</h1>
          <p>{% trans "Your password is now changed." %}</p>

          <div class="mt-3 mb-3 text-muted text-center">
            <p>&larr; {% blocktrans %}<a href="/">Go to homepage</a>{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
