{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% trans "Set Password" %} :: {{ block.super }}{% endblock %}

{% block content %}
<div class="page content">
  {% include "includes/profile_menus_top.html" %}
  <div class="ui grid container">
    <div class="four wide column">
      {% include "includes/profile_menus_left.html" %}
    </div>
    <div class="twelve wide column">
      <div class="ui attached stacked segment">
        <form method="POST" action="{% url 'account_set_password' %}" class="ui form password_set">{% csrf_token %}
          <div class="field">
            <label>{{ form.password1.label }} *</label>
            <div class="ui left icon input">
              {{ form.password1 }}
              <i class="key icon"></i>
            </div>
            {% if form.password1.errors %}
              <div class="ui pointing red basic label">
                {% for error in form.password1.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="field password2-field">
            <label>{{ form.password2.label }} *</label>
            <div class="ui left icon input">
              {{ form.password2 }}
              <i class="key icon"></i>
            </div>
            {% if form.password2.errors %}
              <div class="ui pointing red basic label">
                {% for error in form.password2.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <button class="ui primary button" type="submit" name="action">
            <i class="check icon"></i> {% trans 'Set Password' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script>
    $('.edit-profile-menu-top').addClass('active');
    $('.edit-password-menu-left').addClass('active');
  </script>
{% endblock %}
