{% extends "base_blank.html" %}
{% load i18n staticfiles account %}
{% block title %}{% trans "Password Reset" %} :: {{ block.super }}{% endblock %}
{% block robot %}<meta name="robots" content="noodp"/>{% endblock %}
{% block canonical %}{% url 'account_reset_password' %}{% endblock %}

{% block content %}
  <div class="ui grid container">
    <div class="three wide column"></div>
    <div class="ten wide column margin-2-0">
      <div class="ui main-login-form">
        <div class="ui grey center aligned icon header">
          <a href="{% url 'posts_list' %}" class="ui link spf-link no-underline">
            <img src="{% static 'images/medium-logo-orange.png' %}">
          </a>
          <div class="content">{% trans "Password Reset" %}</div>
          <div class="sub header">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</div>
        </div>
        {% if user.is_authenticated %}
          <div class="ui message message-bulletin">
            {% include "account/snippets/already_logged_in.html" %}
          </div>
        {% endif %}
        <form class="ui form segment" method="post" action="{% url 'account_reset_password' %}">{% csrf_token %}
          <div class="ui two fields">
            <div class="field">
              <label>{{ form.captcha.label }} *</label>
              {{ form.captcha }}
              {% if form.captcha.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.captcha.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="field">
              <label>{{ form.email.label }} *</label>
              <div class="ui left icon input">
                {{ form.email }}
                <i class="mail icon"></i>
              </div>
              {% if form.email.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
              <div class="ui divider no-border"></div>
              <button class="fluid primary ui button" type="submit">
                <i class="send icon"></i> {% trans 'Reset My Password' %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="three wide column"></div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
