{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% trans "Change Password" %} :: {{ block.super }}{% endblock %}

{% block content %}
  <div class="ui text container margin-2-0">
    <div class="ui piled segment">
      <h3 class="ui grey header">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
      {% if token_fail %}
        <div class="ui message message-bulletin">
          {% url 'account_reset_password' as passwd_reset_url %}
          <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        </div>
      {% else %}
        {% if form %}
          <form class="ui form" method="POST" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'change password' %}"/>
          </form>
        {% else %}
          <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
