{% extends "account/base.html" %}
{% load i18n account %}
{% block title %}{% trans "Password Reset" %} :: {{ block.super }}{% endblock %}
{% block robot %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% block canonical %}{% url 'account_reset_password_done' %}{% endblock %}

{% block content %}
  <div class="ui text container margin-2-0">
    <div class="ui piled segment">
      <div class="ui grey header">{% trans "Password Reset" %}</div>
      <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

      {% if user.is_authenticated %}
        <div class="ui message message-bulletin">
          {% include "account/snippets/already_logged_in.html" %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
