{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %} - {{ block.super }}{% endblock %}

{% block robot %}
  <meta name="robots" content="NONE,NOARCHIVE" />
{% endblock %}

{% block content %}
  <div class="container p-3">
    {% include "apps/accounts/user/includes/nav_tabs.html" %}
    <div class="row mt-4 row-content">
      <div class="col-md-3">
        {% include "apps/accounts/user/includes/nav_left.html" %}
      </div>
      <div class="col-md-9">
        <div class="bg-white p-4" style="border:1px solid #dee2e6;border-top:none;box-shadow:0 3px 5px #eaeaea">
          <form method="post" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="form-group row">
              <label for="id_oldpassword" class="col-sm-3 col-form-label text-right">{% trans 'Current Password' %} *</label>
              <div class="col-sm-9">
                <input type="password" name="oldpassword" class="form-control text-normal" id="id_oldpassword" placeholder="{% trans 'Current Password' %}" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="id_password1" class="col-sm-3 col-form-label text-right">{% trans 'New Password' %} *</label>
              <div class="col-sm-9">
                <input type="password" name="password1" class="form-control text-normal" id="id_password1" placeholder="{% trans 'New Password' %}" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="id_password2" class="col-sm-3 col-form-label text-right">{% trans 'New Password (again)' %} *</label>
              <div class="col-sm-9">
                <input type="password" name="password2" class="form-control text-normal" id="id_password2" placeholder="{% trans 'New Password (again)' %}" required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3"></label>
              <div class="col-sm-9">
                <button name="action" type="submit" class="btn bg-gradient-warning text-normal">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                  <span>{% trans "Change Password" %}</span>
                </button>

                {% url 'account_reset_password' as reset_url %}
                <span>{% blocktrans with reset_url=reset_url %}or need to <a href="{{ reset_url }}">reset</a> the password?{% endblocktrans %}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
