{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Contact Us" %} :: {{ block.super }}{% endblock %}
{% block canonical %}{% url 'contact_us' %}{% endblock %}

{% block content %}
  <div class="ui text container margin-2-0">
    <div class="ui piled segment">
      <h3 class="ui grey header">{% trans "Get in touch with Python Learning" %}</h3>
      <div class="ui message info">
        <h4>{% trans "What's in a great support request?" %}</h4>
        <li>{% trans "Provide us with as much essential information as possible." %}</li>
        <li>{% trans "Include any screenshots or links that are related to your problem." %}</li>
      </div>
      <form class="ui form bottom attached fluid segment" method="post" action=".">{% csrf_token %}
        <div class="two fields">
          <div class="field">
            <label>{{ form.sender.label }} *</label>
            <div class="ui left icon input">
              {{ form.sender }}
              <i class="user icon"></i>
            </div>
            {% if form.sender.errors %}
              <div class="ui pointing red basic label">
                {% for error in form.sender.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="field">
            <label>{{ form.email.label }} *</label>
            <div class="ui input">
              {{ form.email }}
            </div>
            {% if form.email.errors %}
              <div class="ui pointing red basic label">
                {% for error in form.email.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="field">
          <label>{{ form.subject.label }} *</label>
          <div class="ui left icon input">
            {{ form.subject }}
            <i class="text width icon"></i>
          </div>
          {% if form.subject.errors %}
            <div class="ui pointing red basic label">
              {% for error in form.subject.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="field">
          <label>{{ form.message.label }} *</label>
          <div class="ui left icon input">
            {{ form.message }}
          </div>
          {% if form.message.errors %}
            <div class="ui pointing red basic label">
              {% for error in form.message.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {% if not request.user.is_authenticated %}
          <div class="field">
            <label>{{ form.captcha.label }} *</label>
            {{ form.captcha }}
            {% if form.captcha.errors %}
              <div class="ui pointing red basic label">
                {% for error in form.captcha.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endif %}

        <div class="field">
          <div class="strike"></div>
          <button class="fluid ui primary button" type="submit">
            <i class="send icon"></i> {% trans "Send Email" %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
