{% extends "base.html" %}
{% load i18n staticfiles %}

{% block robot %}
  <meta name="robots" content="NONE,NOARCHIVE" />
{% endblock %}

{% block title %}
  {% if page %}
    {% blocktrans with title=page.title %}Edit Page "{{ title }}"{% endblocktrans %} :: {{ block.super }}
  {% else %}
    {% trans "Create a Page" %} :: {{ block.super }}
  {% endif %}
{% endblock %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'css/martor/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="page content">
  <div class="repo ribbon ribbon-detail">
    <div class="ui container">
      {% if page %}
        <div class="ui massive breadcrumb breadcrumb-title-detail">
          {% blocktrans with title=page.title %}Edit Page "{{ title }}"{% endblocktrans %}
        </div>
      {% else %}
        <div class="ui massive breadcrumb breadcrumb-title-detail">{% trans "Create a Page" %}</div>
      {% endif %}
      <div class="repo options">
        <a class="ui small button spf-link" onclick="window.history.go(-1); return false;">
          <i class="reply icon"></i> {% trans "Go Back" %}
        </a>
      </div>
    </div>
  </div>
  <div class="ui grid container">
    <div class="twelve wide column">
      <div class="page-main" style="display:none">
        <form class="ui form" method="post">{% csrf_token %}
          <div class="two fields">
            <div class="twelve wide field">
              <label>{{ form.title.label }} *</label>
              <div class="ui left icon input">
                {{ form.title }}
                <i class="terminal icon"></i>
              </div>
              {% if form.title.errors %}
                <div class="ui pointing red basic label">
                  {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="four wide field">
              <label>{{ form.status.label }} *</label>
              <div class="ui input">
                {{ form.status }}
              </div>
            </div>
          </div>
          <div class="ui divider padded no-border"></div>
          <div class="field">
            {{ form.description }}
          </div>
          <div class="field">
            <div class="ui clearing segment no-border page-action-segment">
              <div class="ui toggle checkbox">
                {{ form.publish }}
                <label>{{ form.publish.label }}</label>
              </div>
              {% if page %}
                <button class="ui right floated blue button submit-page-button" type="submit" disabled>
                  <i class="check icon"></i> {% trans "Update Page" %}
                </button>
                <a href="{% url 'pages_detail' slug=page.slug %}" class="ui right floated button spf-link submit-page-button">
                  <i class="remove icon"></i> {% trans "Cancel" %}
                </a>
              {% else %}
                <button class="ui right floated positive button submit-page-button" type="submit" disabled>
                  <i class="check icon"></i> {% trans "Create a Page" %}
                </button>
              {% endif %}
            </div>
          </div>
        </form>
      </div><!-- end /.page-main -->
    </div>
    <div class="four wide column right-sidebar">
      <div class="ui fluid right vertical">
        <div class="sidebar-help sidebar-bulletin sidebar-help-title" {% if page %}style="display:none"{% endif %}>
          <h3 class="ui header">{% trans "How to Post" %}</h3>
          <p>{% trans "Is your page about programming?" %}</p>
          <p>{% trans "We prefer pages that can be pageed, not just discussed." %}</p>
          <p>{% trans "Provide details. Share your research." %}</p>
        </div>
        <div class="sidebar-help sidebar-bulletin sidebar-help-title-edit" {% if not page %}style="display:none"{% endif %}>
          <h3 class="ui header">{% trans "How to Edit" %}</h3>
          <div class="ui list">
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "fix grammatical or spelling errors" %}</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "clarify meaning without changing it" %}</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "correct minor mistakes" %}</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "add related resources or links" %}</div>
            </div>
          </div>
        </div>
        <div class="sidebar-help sidebar-bulletin sidebar-help-description" style="display:none">
          <h3 class="ui header">{% trans "How to Format" %}</h3>
          <div class="ui list">
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "put returns between paragraphs" %}</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "for linebreak add 2 spaces at end" %}</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content"><i>_italic_</i> {% trans "or" %} <strong>**bold**</strong></div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "indent code by 4 spaces" %}</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "backtick escapes" %} <code>`like _so_`</code></div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "quote by placing > at start of line" %}</div>
            </div>
            <div class="item no-underline">
              <i class="caret right icon"></i>
              <div class="content">{% trans "to make links" %} [foo](http://foo.com)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/martor.min.js' %}"></script>
  <script>
    setTimeout(function(){$('.page-main').show()}, 1000);
    $('.tab-martor-menu').removeClass('secondary pointing');
    $('.martor-preview pre').each(function(i, block){hljs.highlightBlock(block)});
    var disabledPostButton = function() {
      if($('textarea[name=description]').val().split(" ").length >= 20) {
        $('.submit-page-button').removeAttr('disabled');
      }else {
        $('.submit-page-button').attr({'disabled': 'disabled'});
      }
    }
    disabledPostButton();
    $(document).keyup(function(){disabledPostButton()});
    var showHelp = function(selector) {
      $('.sidebar-help').hide();
      $(selector).show();
    }
    $(document).on('click', '.martor-field-description', function(){
      showHelp('.sidebar-help-description');
    });
    $('#id_title').click(function(){
      {% if page %}{# edit mode #}
        showHelp('.sidebar-help-title-edit');
      {% else %}{# create mode #}
        showHelp('.sidebar-help-title');
      {% endif %}
    });
  </script>
{% endblock %}
