{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create a Tag" %} :: {{ block.super }}{% endblock %}

{% block content %}
  <div class="content-top-margin">
    <form class="ui form" method="post">
      {% csrf_token %}
      <div class="field">
        <label>{{ form.title.label }} *</label>
        <div class="ui left icon input">
          {{ form.title }}
          <i class="terminal icon"></i>
        </div>
        {% if form.title.errors %}
          <div class="ui pointing red basic label">
            {% for error in form.title.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <button class="ui right floated positive button post-question-button" type="submit">
        <i class="check icon"></i> {% trans "Create a Tag" %}
      </button>
    </form>
  </div>
{% endblock %}
