{% load i18n %}
{% load common_tags ads_tags post_tags %}

<div class="col-md-3 sidebar-right">
  <h3 class="text-muted">
    <span class="text-bold">{{ total_posts }}</span>
    <div style="font-size:15px">
      {% if tag %}
        <span>{% trans "posts tagged" %}</span>
        <span class="badge badge-tag badge-secondary no-radius">{{ tag }}</span>
      {% elif author %}
        <span>{% trans "posts by" %} {{ author }}</span>
      {% elif query %}
        <span>{% trans "posts by" %} {{ query }}</span>
      {% else %}
        <span>{% trans "posts" %}</span>
      {% endif %}
    </div>
  </h3>

  {% if author %}
    <a href="{% url 'apps.accounts:profile_detail' username=author.username %}" class="btn btn-block bg-gradient-default text-normal">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
      </svg>
      <span>{% trans "View Profile" %}</span>
    </a>
  {% endif %}

  <hr class="no-border no-bg" />

  <div class="ad-sidebar_top">
    {{ 'sidebar_top'|get_ads|safe }}
  </div>

  <hr />

  <div class="random-posts">
    {% random_posts as random_posts_list %}
    <ul class="list-group">
      {% for post in random_posts_list %}
        <li class="list-group-item p-0 mb-3 no-border d-flex justify-content-between align-items-center no-bg">
          <a class="no-underline" href="{% url 'apps.blog:post_detail' slug=post.slug %}">
            <span class="mr-2 text-muted" style="display:table-cell">{{ post.rating.get_difference|numberize }}</span>
            <span class="content" style="display:table-cell;padding: 0 0 0 .5em">{{ post.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="ad-sidebar_bottom">
    {{ 'sidebar_bottom'|get_ads|safe }}
  </div>
</div>
