{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
  <div class="ui text container margin-2-0">
    <div class="ui piled segment">
      <h3 class="ui grey header">{% trans "Social Network Login Failure" %}</h3>
      <div class="ui message message-bulletin">
        <p><i class="info circle icon"></i> {% trans "An error occurred while attempting to login via your social network account." %}</p>
      </div>
    </div>
  </div>
{% endblock %}
