{% extends "base.html" %}
{% load static i18n %}
{% load martortags %}

{% block css %}
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" rel="stylesheet" media="all">
  <style>div.martor-preview {border: 1px dashed #ddd}div.martor-preview hr{background-image: linear-gradient(to right,silver 50%,rgba(255,255,255,0) 40%); background-position: top; background-size: 3px 1px; background-repeat: repeat-x; height: 1px; border-top: 0; border-bottom: 0;}</style>
{% endblock %}


{% block content %}
  <div class="container p-3">
    <h5><a class="no-underline" href="">{{ page_title }}</a></h5>

    <div class="mt-4 row-content">
      <div class="martor-preview">
        {{ content|safe_markdown }}
      </div>
    </div><!-- /.row-content -->
  </div>
{% endblock %}


{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('.martor-preview pre').each(function(i, block){
      hljs.highlightBlock(block)
    });
  </script>
{% endblock %}
